<%= form_with(model: calendar, local: true) do |form| %>
  <div class = "d-flex justify-content-center col-12 flex-wrap text-center">
    <% if calendar.errors.any? %>
      <div id="error_explanation">
        <h2>エラーがあります</h2>
  
        <ul>
          <% calendar.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  </div>
  <% end %>


<%= form_with(model: @calendar, local: true) do |form| %>

  <div class = "field  d-flex justify-content-center col-12 flex-wrap mt-5">
      <%= form.label :title , class: "from-control col-10"%>
    <%= form.text_field :title, class: "from-control col-10"%>
    </div>

    <div class="field  d-flex justify-content-center col-12 flex-wrap">
      <%= form.label :memo , class: "from-control col-10"%>
    <%= form.text_field :memo , class: "from-control col-10"%>
    </div>
    
  <div class = "field  col-11 flex-wrap mt-3 text-center">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time , class: "from-control col-10" %>
    </div>
  </div>

    <div class="actions field  d-flex justify-content-center col-12 flex-wrap mt-5">
    <%= form.submit "投稿", class: "btn btn-primary col-10 "%>
    </div>
  </div>
<% end %>
<% end %>
