<div class="show">
<div class="col-11 d-flex justify-content-end flex-wrap ml-5 mb-4 ">
        <%= link_to edit_calendar_path(@calendar)do %>
        <i class= "fas fa-edit btn btn-secondary text-white fa-3x	"></i>
        <% end %>

          <%= link_to calendar_path(@calendar.id) , class: "ml-3 btn btn-danger text-white", method: :delete do %>
    <i class="far fa-trash-alt fa-2x"></i> 
  <% end %>
</div>
<div class = "card mb-4">
  <div class= "card-header">
    <h3>タイトル</h3>
  </div>
  <div class ="card-body">
    <div class ="card-text">
  <%= @calendar.title %>
    </div>
  </div>
</div>

<div class = "card mb-4">
  <div class= "card-header">
    <h3>日付</h3>
  </div>
  <div class ="card-body">
    <div class ="card-text">
  <%= @calendar.start_time.strftime("%m-%d") %>
    </div>
  </div>
</div>

<div class = "card mb-4">
  <div class= "card-header">
    <h3>内容</h3>
  </div>
  <div class ="card-body">
    <div class ="card-text">
  <%= @calendar.memo %>
    </div>
  </div>
</div>
</div>

