<div class="show">

<div class = "card mb-4">
  <div class= "card-header">
    <h3>タイトル</h3>
  </div>
  <div class ="card-body">
    <div class ="card-text">
  <%= @calendar.title %>
    </div>
  </div>
</div>

<div class = "card mb-4">
  <div class= "card-header">
    <h3>日付</h3>
  </div>
  <div class ="card-body">
    <div class ="card-text">
  <%= @calendar.start_time.strftime("%m-%d") %>
    </div>
  </div>
</div>

<div class = "card mb-4">
  <div class= "card-header">
    <h3>内容</h3>
  </div>
  <div class ="card-body">
    <div class ="card-text">
  <%= @calendar.memo %>
    </div>
  </div>
</div>
</div>
<div class="col-11 d-flex justify-content-center flex-wrap ml-5 ">
<%= link_to '編集', edit_calendar_path(@calendar),class: "text-success mr-3" %>
<%= link_to '消去',calendar_path(@calendar.id),class: "text-danger mr-3", method: :delete, data: { confirm: '削除しますか?' } %>
</div>
