<%= form_with(model: post, local: true) do |form| %>
  <div class = "d-flex justify-content-center col-12 flex-wrap text-center">
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "つの") %>エラーがあります</h2>
  
        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  </div>
  <% end %>
  <div class = "field  d-flex justify-content-center col-12 flex-wrap mt-5">
      <%= form.label :title , class: "from-control col-10"%>
      <%= form.text_field :title, class: "from-control col-10"%>
    </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

    <div class="field  d-flex justify-content-center col-12 flex-wrap">
      <%= form.label :contents , class: "from-control col-10"%>
      <%= form.text_area :contents , class: "from-control col-10"%>
    </div>

    <div class="actions field  d-flex justify-content-center col-12 flex-wrap mt-5">
    <%= form.submit "投稿", class: "btn btn-primary col-10 "%>
    </div>
  </div>
<% end %>
