  <h2 class = "col-12 mt-5">合計<%= @post %>時間</h2>
<div class = "d-flex align-items-center justify-content-center flex-wrap col-12 mt-2">
  <h1>記録</h1>
</div>

<%= search_form_for @q, class: 'mb-5' do |f|%>
<div class='d-flex justify-content-end'>
  <div class ='col-sm-4  d-flex justify-content-end'>
    <%= f.search_field :tag_cont, placeholder:'タグ名で検索', class: 'form-control'%>
    <%= f.submit class: 'ml-2 btn btn-outline-primary'%>
  </div>
</div>
<%end%>

<div class = "d-flex align-items-center justi∂fy-content-center flex-wrap col-12 mt-5 ml-3">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">名前</th>
        <th scope="col">更新日</th>
        <th scope="col">タグ</th>
        <th scope="col">詳細</th>
      </tr>
    </thead>
        <% @posts.each do |post| %>
              <% if current_user.id == post.user_id %>
    <tbody>
      <tr>
      
        <td class = "col-3 themed-grid-col h5"><%= post.title%></td>
        <td class = "col-3 themed-grid-col h5"><%= post.created_at %></td>
        <td class = "col-3 themed-grid-col h5 "><span class=' bg-info text-white  pb-2 pt-1 rounded '><%= post.tag %></span></td>
</td>
        <td class = "col-3 themed-grid-col h5"><%= link_to post do %>
          <i class="fas fa-search btn btn-primary text-white"></i>
            <% end %></td>
      </tr>
    </tbody>
    <%end%>
  <%end%>
  </table>

</div>
<div class = "d-flex justify-content-center flex-wrap col-12 mb-5">
    <%= paginate @posts%>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

