<!DOCTYPE html>
<html>
  <head>
    <title>StudyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand navbar-dark bg-info d-flex justify-content-around">
              <%=link_to"Study App",posts_path,class: "navbar-brand text-white"%>
      <div class="d-flex flex-nowrap ">
              <%= link_to "記録する", new_post_path, class: "navbar-brand text-white"%>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
