<!DOCTYPE html>
<html>
  <head>
    <title>StudyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "hellos", :media => "all" %>
  </head>

  <body>
<% if user_signed_in? && current_user.id  %>
  <nav class="navbar navbar-expand navbar-dark bg-info d-flex justify-content-around fixed-bottom">
              <%=link_to"Study App",posts_path,class: "navbar-brand text-white"%>
      <div class="d-flex flex-nowrap ">
              <%= link_to "記録する", new_post_path, class: "navbar-brand text-white"%>
      </div>
      <div class="d-flex flex-nowrap ">
              <%= link_to "カレンダー", calendars_index_path, class: "navbar-brand text-white"%>
      </div>
      <div class="d-flex flex-nowrap ">
              <%= link_to "ログアウト", destroy_user_session_path, :method => :delete, class: "nav-link text-white " %>
      </div>
    </nav>
<%end%>

        <% if flash[:notice] %>
          <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%if flash[:alert]%>
          <div class="alert alert-danger" role="alert">
            <%= flash[:alert]%>
          </div>
        <% end %>
    <%= yield %>
  </body>
</html>
